@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

body {
  background-color: lightgray;
}

.navbar-brand, h3 {
  font-family: 'Ms Madi', cursive;
}

#outputDiv {
  display: none;
}